@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
}

/*Estilo de la presentacion*/
.container{
    width: 100%;
}

.presentation-box{
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
}

.container .presentation-box img{
    width: 200px;
    border-radius: 50%;
    position: absolute;
    margin-left: 64%;
    margin-top: -70px;
}

.social-media-box{
    width: 550px;
    margin-left: 20%;
    padding: 10px;
}

h1{
    text-align: center;
    width: 400px;
    margin-left: 24.5%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.social-media-box p{
    margin-bottom: 10px;
}

.social-media-box a{
    padding: 5px;
}

hr{
    width: 90%;
    margin-left: 60px;
}

/*Estilos de la lista de pasatiempos y pendientes*/
.pasatiempos-titulo, .tasks-titulo{
    text-align: center;
    margin-bottom: 10px;
}

.pasatiempos, .tasks{
    background-color: #fff;
    color: #000;
    border: 1px solid #b048fc;
    border-radius: 20px;
    width: 380px;
    height: 148px;
    padding: 15px 30px;
    margin: 0 30px;
}

li{
    margin-left: 10px;
    padding-bottom: 3px;
}

/*Estilos del div bento*/
.bento{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 10px;
}

/*Estilos del horario*/
.horario-titulo{
    margin-left: 41%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.horario{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.horario table{
    border-collapse: collapse;
    margin-bottom: 20px;
}

.horario th{
    padding: 5px 10px;
    background-color: #b048fc;
    color: #fff;
    border: 1px solid #dbdbdb;
    font-weight: bold;
}

.horario td{
    padding: 15px 10px;
    border: 1px solid #dbdbdb;
    text-align: center;
    width: 100px;
}

/*Estilos del formulario de contacto*/
.formulario-box{
    background-color: #fff;
    width: 400px;
    text-align: center;
    margin-left: 35%;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 20px 0;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
}

.formulario-box h2{
    margin-bottom: 10px;
}

.name, .email{
    width: 100%;
    height: 40px;
    text-align: center;
    margin: 10px 0;
}

.description{
    width: 100%;
    height: 150px;
    margin: 10px 0;
}

.name input, .email input, .description textarea{
    width: 70%;
    height: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    padding-left: 10px;
    outline: none;
}

.description textarea{
    resize: none;
    padding: 5px 5px;
    outline: none;
}

.description textarea::placeholder, .name input::placeholder, .email input::placeholder{
    color: #d9d6d6;
}

.name box-icon, .email box-icon{
    position: absolute;
    margin-left: -33px;
    margin-top: 8px;
}

button{
    background-color: #b048fc;
    color: #fff;
    width: 60%;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}